serviceAccount:
  create: true
  name: ""
  annotations: {}
  automount: true
podAnnotations: {}
podLabels: {}
imagePullSecrets: []

hpa:
  enabled: false
  minReplicas: 2
  maxReplicas: 5
  targetCPUUtilizationPercentage: 70